<section class="wishlist">

    <div class="row">
        <div *ngFor="let product of allProducts " class="col-md-2  m-3 p-1 allprod">
          
          <div class="product my-3 cursor-pointer">
            <i *ngIf="!wishListData.includes(product._id)"  (click)="addFav(product._id)" class="fa-regular fa-heart mb-2 cursor-pointer fs-4 heart"></i>
            <i *ngIf="wishListData.includes(product._id)" (click)="removeFav(product._id)" class="fa-solid fa-trash ms-2 mb-2 cursor-pointer fs-5 trash"></i>
    
              <div [routerLink]="['/productDetails', product._id]" >
                <img [src]="product.imageCover" class="w-100">
                <span class="fa-sm text-main">{{product.category.name}}</span>
                <h1 class="h5 fw-bold"> {{product.title.split(" ").slice(0,2).join(" ")}}</h1>
    
                <div class="d-flex justify-content-between">
                    <span>{{product.price}}EGP</span>
                    <span><i [class.rating-color]="product.ratingsAverage >=num" *ngFor="let num of[1,2,3,4,5]" class="fa-solid fa-star "></i> {{product.ratingsAverage}}</span>
                </div>
              </div>
                <button (click)="addCartBtn(product._id)" class="btn bg-main d-block w-100 text-white">Add </button>
            </div>
        </div>
    </div>
</section>