<section class="w-75 mx-auto shadow rounded my-5 bg-main-light p-3">

    <h2>CheckOut</h2>
    <form [formGroup]="orderForm" (ngSubmit)="handelForm()">
        <div class="form-item">
            <label for="details">details</label>
            <input class="form-control" type="text" id="details" formControlName="details">
        </div>
        <div class="form-item">
            <label for="phone">phone</label>
            <input class="form-control" type="tel" id="phone" formControlName="phone">
        </div>

        <div class="form-item">
            <label for="city">city</label>
            <input class="form-control" type="text" id="city" formControlName="city">
        </div>

        <button class="btn bg-main mt-3">CheckOut</button>
    </form>
</section>