<section>
  
<div class="row my-5">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
  
      <ng-container *ngFor="let slide of allProducts ">
        <ng-template carouselSlide>
          <img [src]="slide?.imageCover" height="400">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img src="./assets/images/slider-image-3.jpeg" alt="" height="200">
    <img src="./assets/images/slider-image-1.jpeg" alt="" height="200">

  </div>
</div>
</section>

<hr>
<section *ngIf="categories.length>0">
  <owl-carousel-o [options]="categoryOptions">

    <ng-container *ngFor="let slide of categories">
      <ng-template carouselSlide [id]="slide._id">
        <img height="300" [src]="slide.image" [alt]="slide.name" [title]="slide.title">
        <h3 class="text-center h4 fw-bold">{{slide.name}}</h3>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>

<hr>
<section>
  <div class=" w-75 my-5 mx-auto">
    <label class="fw-bold text-success mb-2"> Search</label>
  <input [(ngModel)]="inputValue" class="form-control">
  </div> 
  <div class="row">
      <div *ngFor="let product of allProducts| slice: 0:18 | search :inputValue " class="col-md-2  m-3 p-1 allprod">
        
        <div class="product my-3 cursor-pointer">
          <i *ngIf="!wishListData.includes(product._id)"  (click)="addFav(product._id)" class="fa-regular fa-heart mb-2 cursor-pointer fs-4 heart"></i>
          <i *ngIf="wishListData.includes(product._id)" (click)="removeFav(product._id)" class="fa-solid fa-trash ms-2 mb-2 cursor-pointer fs-5 trash"></i>
  
            <div [routerLink]="['/productDetails', product._id]" >
              <img [src]="product.imageCover" class="w-100">
              <span class="fa-sm text-main">{{product.category.name}}</span>
              <h1 class="h5 fw-bold"> {{product.title.split(" ").slice(0,2).join(" ")}}</h1>
  
              <div class="d-flex justify-content-between">
                  <span>{{product.price}}EGP</span>
                  <span><i [class.rating-color]="product.ratingsAverage >=num" *ngFor="let num of[1,2,3,4,5]" class="fa-solid fa-star "></i> {{product.ratingsAverage}}</span>
              </div>
            </div>
              <button (click)="addCartBtn(product._id)" class="btn bg-main d-block w-100 text-white">Add </button>
          </div>
      </div>
  </div>
</section>

  